<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Road to Utopia</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body class= "Body" id="Body1">
        <!--Conditionally render login/logout-->
        <nav>
            {{#if logged_in}}
            <h1>{{user.username}}</h1>
            <button>Logout</button>
            {{else}}
            <a href="/api/users/login">Login</a>
            {{/if}}
        </nav>
        {{{body}}}
        <!-- Login/logout script -->
        {{#if logged_in}}
        <script src="../../public/js/logout.js"></script>
        {{/if}}
    </body>

</html>