<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Road to Utopia</title>
        <link rel="stylesheet" href="/public/css/style.css">
    </head>

    <body class= "Body" id="BodyStart">
        <h1 class="Heading">ROAD TO UTOPIA</h1>
        <button>Start</button>
        <!-- Login/logout script -->
        {{#if logged_in}}
        <script src="/public/js/login.js"></script>
        {{/if}}
    </body>

</html>