<div class="row justify-space-between-md">
    {{!-- Login info --}}
  <div class="login-card">
    <h2 class="page-title">Login</h2>
    <form class="form login-form">
      <div class="form-group">
        {{!-- Email entry --}}
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
        {{!-- PW entry --}}
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
        {{!-- Submit button --}}
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
  </div>
    {{!-- Signup info if user does not have an account --}}
  <div class="login-card">
    <h2 class="page-title">Signup</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="username-signup">Username:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
        {{!-- Email entry --}}
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
        {{!-- PW entry --}}
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
        {{!-- Submit button --}}
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Signup</button>
      </div>
    </form>
  </div>
</div>

<script src="../public/js/login.js"></script>