/* https://www.color-hex.com/color-palette/8023 */

.Body {
    text-align: center;
}

#Body1 {
    background-image: url("../images/prompt1_images/1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#Body1a {
    background-image: url("../images/prompt1_images/1a.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#Body1b {
    background-image: url("../images/prompt1_images/1b.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#Body1c {
    background-image: url("../images/prompt1_images/1c.png");
}

#Body2{
    background-image: url("../images/prompt2_images/2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#Body2a{
    background-image: url("../images/prompt2_images/2a.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#Body2b{
    background-image: url("../images/prompt2_images/2b.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#Body2c{
    background-image: url("../images/prompt2_images/2c.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#Body2d{
    background-image: url("../images/prompt2_images/2d.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#BodyStart{
    background-image: url("../images/prompt1_images/START.png");
    background-size: cover
}
#BodyGameOver{
    background-image: url("../images/prompt1_images/GAME_OVER.png");
    background-size: cover;
    background-repeat: repeat-y;
}

#BodyVictory{
    background-image: url("../images/prompt1_images/VICTORY.png");
    background-size: cover;
    background-repeat: repeat-y;
}

.Heading {
    background-color: #ffd9a4;
    border-radius: 14px;
    margin: auto;
    padding: 10px;
    width: 445px;
    font-family: 'Alegreya Sans SC', sans-serif;
    margin-top: 75px;
    border: 3px #ce7700 solid;
}

.Question {
    background-color: #ffd9a4;
    border-radius: 14px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    font-family: 'Ubuntu', sans-serif;
    border: 3px #ce7700 solid;
}

.AnswerChoices {
    list-style: none;
    padding: 10px;
    padding-left: 20%;
    padding-right: 20%;
    margin: auto;
    width: 40%;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    border: 3px black solid;
    background-color: #ffd9a4;
    text-align: left;
    border: 4px solid;
    background-image: url(../images/prompt1_images/border_image.png);
}

.outcomeText {
    background-color: #ffd9a4;
    border-radius: 14px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 10%;
    top: 30%;
    font-family: 'Ubuntu', sans-serif;
    border: 4px solid;
    border-image: url(../images/prompt1_images/border_image.png);
    border-image-width: 55;
}

li {
    background-color: #ce7700;
    border-radius: 14px;
    padding: 10px;
    margin: 10px;
    border: 3px black solid;
}

button {
    margin: 5%;
    top: 60%;
    font-size: 22px;
    font-weight: bolder;
    font-family: 'Alegreya Sans SC', sans-serif;
    border: 3px #39b359 solid;
    background-color: #ce7700;
    border-radius: 14px;
    border: 3px black solid;
}